$Rojo-bullet : #f64552;
$Gris-bullet : #f8f8f8;
$Amarillo-botones: rgb(251, 212, 59);
$Grisdark : #212121;
$Gris-letra-soft : #8f8f8f;
$Turquesa-Terminos: #00c3a3;
$Morado-numeros : #49233b;
$Morado-light : #451e36;
$Morado-dark : #38052a;
