.img{
	margin-top:3%;
}
.sub{
	margin-top:-1%;
}
.subtitle{
	letter-spacing:6px;
	color:$Gris-letra-soft;
}
.material-icons.prefix{
	left:-2%;
	margin-top:2.3%;
	color:$Gris-letra-soft;
	text-decoration:underline;
}
label.tel{
    margin-left:2% !important;
    margin-top:2.4%;
    position:absolute;
	color:$Gris-letra-soft;
	text-decoration:underline;
}
label.checkbox{
	letter-spacing:6px;
}
.verde{
	color:$Turquesa-Terminos;
}
.btn-large.grande{
	margin-top:18%;
}